.imgPage {
  border: 1px dotted #ccc;
  border-radius: 5px;
}

.imgPage img {
  width: 100%;
  height: 360px;
  -o-object-fit: contain;
  object-fit: contain;
  vertical-align: middle;
}

.coast {
  color: #6dc417;
  font-size: 1.2rem;
}

.DetailText {
  border: 1px dotted #eee;
  padding: 16px;
  border-radius: 5px;
}
