.cardMain {
  width: 100%;
  padding: 10px;
  cursor: pointer;
  -webkit-transition: all 0.3s ease !important;
  -o-transition: all 0.3s ease !important;
  transition: all 0.3s ease !important;
  position: relative;
  border-bottom: 3px solid transparent !important;
}

.badgeCard {
  display: inline-block;
  padding: 3px 20px 4px;
  color: #fff;
  background-color: red;
  border-radius: 10px;
  position: absolute;
  top: 8px;
  left: 10px;
  font-size: small;
}

p.MuiTypography-body1 {
  -webkit-transition: all 0.3s ease !important;
  -o-transition: all 0.3s ease !important;
  transition: all 0.3s ease !important;
  font-weight: 700;
}

.cardMain:hover {
  border-bottom: 3px solid #89c74a !important;
}

.cardImg {
  width: 100%;
  height: 250px;
  padding: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  position: relative;
}

.btnBox {
  position: absolute;
  top: 25px;
  right: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  height: 200px;
  -webkit-transform: translateX(200%);
  -ms-transform: translateX(200%);
  transform: translateX(200%);
  -webkit-transition: -webkit-transform ease 0.3s;
  transition: -webkit-transform ease 0.3s;
  -o-transition: transform ease 0.3s;
  transition: transform ease 0.3s;
  transition: transform ease 0.3s, -webkit-transform ease 0.3s;
}

.cardMain:hover .btnBox {
  -webkit-transform: translateX(0);
  -ms-transform: translateX(0);
  transform: translateX(0);
}

button.iconCard {
  background-color: #89c74a;
  color: white;
}

button.iconCard:hover {
  background-color: #6dc417;
  color: white;
}

.cardImg img {
  max-width: 100%;
  max-height: 100%;
}

.cardBody {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}
a {
  text-decoration: none !important;
}
.iconCard.icart {
  transition: all 0.3s ease;
}
.iconCard.icart:active {
  transform: scale(0);
}
