.footerCarousel {
  text-align: center;
}

.footerCarousel img {
  max-width: 100%;
  width: 250px;
  height: 200px;
  -o-object-fit: contain;
  object-fit: contain;
  -o-object-position: center;
  object-position: center;
}

.footerInfo {
  text-align: left;
  margin: 10px 0 !important;
}

.footerInfo svg {
  font-size: 22px;
}

.footerInfo a {
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.footerInfo a:hover {
  color: #009dff95;
}

.siteDev {
  color: orange;
  font-weight: bold;
}

.siteDev:hover {
  color: orange !important;
}

.footer {
  background-color: #343a40;
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  height: 60px;
}
