*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}

main {
  background-color: #f4f7fd;
}

img {
  max-width: 100% !important;
}

.border-top-site {
  border-top: 3px solid #00a65a !important;
}

.shadow {
  -webkit-box-shadow: 0px 10px 30px #d1d5df;
  box-shadow: 0px 10px 30px #d1d5df;
}

main,
footer {
  overflow: hidden;
}

.btn {
  background-color: #89c74a !important;
  color: #fff !important;
}
